# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
azurefunctions-extensions-http-fastapi
azure-identity==1.25.3
agent-framework-foundry==1.0.0
aiohttp==3.13.5